<div class="product-list">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-3" [ngClass]="{ 'lg:grid-cols-3': gridCols === 3, 'lg:grid-cols-4': gridCols === 4, 'lg:grid-cols-5': gridCols === 5 }">
        @for(product of displayProducts; track product) {
            <div class="product-card shadow-md bg-white rounded-md p-3 group">
                <div class="product-image rounded-md overflow-hidden mb-3 relative">
                    <div class="product-image bg-gray-50 rounded-md flex items-center justify-center overflow-hidden">
                        <img [src]="product.image" [alt]="product.name" class="max-w-full max-h-full object-contain transition duration-300 group-hover:scale-110">
                    </div>
                    <div class="absolute inset-0 bg-black bg-opacity-25 translate-y-full group-hover:-translate-y-0 transition-all duration-1000 flex items-center justify-center gap-3 text-white text-lg">
                        <div [routerLink]="['/shop/product-details', product.id]" class="w-10 h-10 rounded-md bg-black flex items-center justify-center cursor-pointer">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                        <div class="w-10 h-10 rounded-md bg-black flex items-center justify-center cursor-pointer">
                            <i class="fa-solid fa-arrow-right-arrow-left"></i>
                        </div>
                        <div (click)="toggleWishlist(product)" class="w-10 h-10 rounded-md bg-black flex items-center justify-center cursor-pointer">
                            <i [ngClass]="isWishlist(product) ? 'fa-solid' : 'fa-regular'" class="fa-heart"></i>
                        </div>
                    </div>
                </div>
                <div class="product-content">
                    <h6 class="text-sm bg-green-100 rounded-md font-bold px-4 py-0.5 inline-block">{{ product.category }}</h6>
                    <h5 class="text-lg line-clamp-1 font-medium leading-6 mt-2 cursor-pointer" [title]="product.name"> {{ product.name }} </h5>
                    <div class="my-2 flex items-center gap-2">
                        <div class="flex items-center">
                            @for(star of [1,2,3,4,5]; track star) {
                                @if (star <= Math.floor(product.rating)) {
                                    <i class="fa-solid fa-star text-yellow-500"></i>
                                }
                                @else if (star === Math.ceil(product.rating) && product.rating % 1 !== 0) {
                                    <i class="fa-solid fa-star-half-stroke text-yellow-500"></i>
                                }
                                @else {
                                    <i class="fa-regular fa-star text-gray-300"></i>
                                }                                    
                            }
                            
                        </div>
                        <span>|</span>
                        <span>5.0</span>
                    </div>
                    <div class="flex gap-2 items-center">
                        <h5>₹ {{ (product.price).toLocaleString('en-IN') }}</h5>
                        <h5 class="text-gray-500"><s>₹ {{ (product.oldPrice).toLocaleString('en-IN') }}</s></h5>
                    </div>
                    <button (click)="addToCart(product)" class="w-full mt-3 font-semibold bg-black text-white border border-solid border-black px-5 py-2 rounded-lg text-sm flex justify-center items-center gap-2 hover:text-black hover:bg-transparent transition-all ease-in-out duration-300">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        }
    </div>
    @if (showSeeMore && products.length > (limit ?? 0)) {
        <div class="flex justify-center mx-auto mt-8">
            <button routerLink="/shop" class="font-semibold bg-black text-white border border-solid border-black px-24 py-2 rounded-lg text-sm flex items-center gap-2 hover:text-black hover:bg-transparent transition-all ease-in-out duration-300">
                See More
            </button>
        </div>
    }
</div>