<div class="top-bar py-3">
    <div class="container mx-auto px-5">
        <div class="grid grid-cols-12 items-center">
            <div class="flex items-center gap-2 sm:gap-3 col-span-2">
                <div class="header-info">
                    <div class="logo">
                        <a routerLink="/" class="text-2xl font-bold text-green-600">
                            Online Mart
                        </a>
                    </div>
                </div>
            </div>
            <div class="search-bar col-span-8 flex items-center h-14 w-full rounded-lg group border border-green-300 bg-white px-0 transition-all duration-200 group-focus-within:border-indigo-500 group-focus-within:ring-1 group-focus-within:ring-indigo-500/20">
                <!-- Category Select -->
                <div class="relative h-full flex items-center pl-4 pr-2">
                    <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
                        <mat-select class="!text-sm !font-bold" [(value)]="selectedCategory">
                            <mat-option value="all">All Categories</mat-option>
                            @for(category of categories; track category) {
                                <mat-option [value]="category.category">{{ category.category }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Divider -->
                <div class="w-px h-6 bg-gray-300 mx-1"></div>
                <!-- Search Input -->
                <input  type="text" placeholder="Search for items..."  class="flex-1 h-full px-3 text-sm text-gray-900 placeholder-gray-500 outline-none bg-transparent">
                <!-- Search Button -->
                <button class="h-10 w-10 mr-1 flex items-center justify-center rounded-md text-gray-500 hover:bg-gray-100 hover:text-indigo-600 transition-colors">
                    <i class="fa-regular fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="flex items-center gap-3 justify-end col-span-2">
                <button routerLink="/wishlist" class="w-10 h-10 flex items-center justify-center rounded-full relative bg-black text-white border border-black hover:bg-white hover:text-black transition-all duration-300 ease-in-out">
                    <i class="fa-regular fa-heart"></i>
                    @if(wishlistCount) {
                        <span class="absolute -top-2 -right-2 w-5 h-5 rounded-full bg-black text-white border-2 border-white text-xs flex items-center justify-center">
                            {{ wishlistCount }}
                        </span>
                    }
                </button>
                <button routerLink="/cart" class="w-10 h-10 flex items-center justify-center rounded-full relative bg-black text-white border border-black hover:bg-white hover:text-black transition-all duration-300 ease-in-out">
                    <i class="fa-regular fa-cart-shopping"></i>
                    @if(cartCount){
                        <span class="absolute -top-2 -right-2 w-5 h-5 rounded-full bg-black text-white border-2 border-white text-xs flex items-center justify-center">
                            {{cartCount}}
                        </span>
                    }
                </button>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="main-header py-3 bg-white shadow-[0px_3px_5px_#0000000d]" [ngClass]="{ 'fixed top-0 left-0 right-0 z-[9999] animate-slideDown': isSticky, 'relative': !isSticky }">
    <div class="container mx-auto px-5">
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2 sm:gap-3">
                <div class="header-info hidden lg:block">
                    <div class="flex items-center relative" (click)="toggleCategoryMenu($event)">
                        <div class="flex items-center cursor-pointer sm:bg-[#0000000a] text-black font-medium p-2 sm:px-5 sm:py-2.5 rounded-lg">
                            <div class="inline-block">
                                <span class="hidden xl:block">
                                    <i class="fa-regular fa-grid-2"></i>
                                </span>
                                <i title="Category" class="fa-regular fa-grid-2 xl:hidden"></i>
                            </div>
                            <span class="ps-1.5 hidden xl:block">Category</span>
                        </div>
                        <div class="lg:absolute lg:top-full lg:min-w-60 bg-white shadow-xl rounded-b-xl border-t border-solid border-gray-300 overflow-hidden transition-all duration-500 ease-in-out z-10" [ngClass]="isCategoryOpen ? 'max-h-[600px] opacity-100 visible' : 'max-h-0 opacity-0 invisible'">
                            <div class="flex p-5">
                                <div class="min-w-60 w-auto border-r border-solid border-gray-300 pr-5">
                                    <ul class="m-0 p-0 list-none space-y-2">
                                        @for (category of categories; track category.category; let i = $index) {
                                            <li class="px-3 py-2 rounded cursor-pointer text-sm font-medium" [ngClass]="activeTab === i ? 'bg-blue-50 text-blue-600' : 'hover:bg-gray-100'" (click)="selectCategory(i, $event)">
                                                {{ category.category }}
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="min-w-80 h-full w-auto pl-5">
                                    @for (category of groupedProducts; track category.category; let i = $index) {
                                        @if (activeTab === i) {
                                            <div class="vartical-nav-content-menu">
                                                <h3 class="text-xs font-medium uppercase tracking-widest text-gray-500">
                                                    {{ category.category }}
                                                </h3>
                                                <hr class="my-2">
                                                <ul class="space-y-2">
                                                    <!-- <div class="grid grid-cols-2 gap-4"> -->
                                                        @for (product of category.products; track product.id) {
                                                            <li class="text-sm cursor-pointer hover:text-blue-600" [routerLink]="['/shop/product-details', product.id]">
                                                                {{ product.name }}
                                                            </li>
                                                        }
                                                    <!-- </div> -->
                                                </ul>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="main-navigation lg:flex lg:static lg:translate-x-0 lg:h-auto lg:w-auto lg:bg-transparent lg:p-0 fixed left-0 top-0 bg-white w-80 h-full z-50 p-5 transition-all duration-500 ease-in-out" [ngClass]="sidebarOpen ? 'translate-x-0' : '-translate-x-full'">
                <div class="flex items-center justify-between lg:hidden mb-5">
                    <div class="logo">
                        <a routerLink="/" class="text-2xl font-bold">
                            Online Mart
                        </a>
                    </div>
                    <i class="fa-regular fa-xmark" (click)="openNavigation()"></i>
                </div>
                <li routerLink="/" class="text-black flex items-center lg:px-4 py-2 font-medium cursor-pointer relative">Home</li>
                <li routerLink="/about" class="text-black flex items-center lg:px-4 py-2 font-medium cursor-pointer relative">About</li>
                <li routerLink="/blog" class="text-black flex items-center lg:px-4 py-2 font-medium cursor-pointer relative">Blog</li>
                <li class="relative" (click)="toggleMegaMenu($event)">
                    <div class="text-black lg:px-4 py-2 font-medium cursor-pointer relative flex items-center gap-2">
                        Shop
                        <i class="fa-regular fa-chevron-down transition-transform duration-300" [ngClass]="isMegaOpen ? 'rotate-180' : ''"></i>
                    </div>
                    <div class="lg:absolute lg:left-1/2 lg:-translate-x-1/2 lg:top-full lg:w-[900px] w-full bg-white shadow-xl rounded-b-xl p-6 border-t border-solid border-gray-300 overflow-hidden transition-all duration-500 ease-in-out" [ngClass]="isMegaOpen ? 'max-h-[600px] opacity-100 visible' : 'max-h-0 opacity-0 invisible'">
                        <div class="grid lg:grid-cols-4 gap-6">
                            @for (group of groupedProducts.slice(0, 3); track group.category) {
                                <div>
                                    <h3 class="text-sm font-semibold mb-3 border-b pb-2">
                                        {{ group.category }}
                                    </h3>

                                    <ul class="space-y-2">
                                        @for (product of group.products; track product.id) {
                                        <li class="block px-2 py-1 rounded hover:bg-gray-100 transition cursor-pointer" [routerLink]="['/shop/product-details', product.id]">
                                            {{ product.name }}
                                        </li>
                                        }
                                    </ul>
                                </div>
                            }

                            <div class="flex flex-col justify-center">
                                <img src="./../../assets/images/banner-9.png" class="rounded-lg mb-3" />
                                <p class="text-sm">Special Offer 🎉</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li routerLink="/contact" class="text-black flex items-center lg:px-4 py-2 font-medium cursor-pointer relative">Contact</li>
            </ul>

            <div class="flex items-center gap-3 justify-end">
                <ul class="flex items-center m-0 p-0 list-none">
                    <li #userMenu class="w-10 h-10 sm:w-auto relative cursor-pointer justify-center flex items-center gap-1.5" (click)="toggleUserMenu($event)">
                        <a class="flex items-center gap-1.5">
                            <i class="fa-regular fa-user"></i>
                            <span class="hidden sm:block">{{ loginUser?.fullName || 'User' }}</span>
                        </a>
                        <div class="p-4 bg-white min-w-60 rounded-br-lg rounded-bl-lg shadow-lg border-t border-solid absolute top-full -left-40 transition-all duration-300 ease-in-out z-10" [ngClass]="isUserMenuOpen ? 'opacity-100 visible translate-y-0' : 'opacity-0 invisible -translate-y-2'">
                            <div class="pb-4 flex items-center gap-4">
                                <div class="admin-thumbnail">
                                    <img class="w-12 h-12 rounded-full p-1 shadow-sm" src="./../../assets/images/avatar.jpg" alt="User Images">
                                </div>
                                <div class="admin-info flex flex-col">
                                    <span class="font-medium">RainbowIT</span>
                                    <a class="relative text-sm font-medium inline-block text-[#2f57ef]">View Profile</a>
                                </div>
                            </div>
                            <ul class="list-none m-0 p-0 space-y-2">
                                <li>
                                    <a class="flex items-center gap-4 text-[#6b7385]">
                                        <i class="fa-regular fa-clock"></i>
                                        <span>Order History</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="flex items-center gap-4 text-[#6b7385]">
                                        <i class="fa-regular fa-gear"></i>
                                        <span>Settings</span>
                                    </a>
                                </li>
                            </ul>
                            <hr class="my-2.5">
                            <ul class="list-none m-0 p-0 space-y-2">
                                <li>
                                    @if(loginUser) {
                                        <a class="flex items-center gap-4 text-[#6b7385]" (click)="logout()">
                                            <i class="fa-regular fa-arrow-left-from-bracket"></i>
                                            <span>Logout</span>
                                        </a>
                                    } @else {
                                        <a class="flex items-center gap-4 text-[#6b7385]" routerLink="/login">
                                            <i class="fa-regular fa-arrow-right-from-bracket"></i>
                                            <span>Login</span>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="w-10 h-10 lg:hidden flex items-center justify-center" (click)="openNavigation()">
                        <i class="fa-regular fa-bars"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>