<div class="contact-section py-6 md:py-10 lg:py-16 bg-gradient-to-b from-slate-300 to-transparent">
    <div class="container mx-auto px-5">
        <div class="px-6 py-1 text-white uppercase font-semibold bg-black rounded-full w-max mx-auto">
            Contact us
        </div>
        <h4 class="text-lg md:text-2xl lg:text-5xl text-center leading-none font-bold mt-5 md:mt-10">
            Online Mart
        </h4>
        <h6 class="md:text-xl lg:text-4xl text-center font-semibold leading-none">
            can join with us
        </h6>

        <div class="grid md:grid-cols-3 gap-7 my-10 md:my-20">
            <div class="p-5 bg-white shadow-md">
                <i class="fa-solid fa-headphones text-5xl leading-none"></i>
                <h6 class="font-bold text-xl tracking-wider leading-none mt-5 mb-3"> Contact Number </h6>
                <div class="flex flex-col">
                    <a href="tel:+91 9876543210" class="text-gray-700"> +91 98765 43210 </a>
                    <a href="tel:+91 9876543210" class="text-gray-700"> +91 98765 43210 </a>
                </div>
            </div>
            <div class="p-5 bg-white shadow-md">
                <i class="fa-solid fa-envelope text-5xl leading-none"></i>
                <h6 class="font-bold text-xl tracking-wider leading-none mt-5 mb-3"> Our Email Address </h6>
                <div class="flex flex-col">
                    <a href="mailto:contact&#64;ckonlinemart.com" class="text-gray-700"> contact&#64;ckonlinemart.com </a>
                    <a href="mailto:contact&#64;ckonlinemart.com" class="text-gray-700"> contact&#64;ckonlinemart.com </a>
                </div>
            </div>
            <div class="p-5 bg-white shadow-md">
                <i class="fa-solid fa-location-dot text-5xl leading-none"></i>
                <h6 class="font-bold text-xl tracking-wider leading-none mt-5 mb-3"> Our Location </h6>
                <p class="text-gray-700"> 5678 Bangla Main Road, cities 580 GBnagla, example 54786 </p>
            </div>
        </div>

        <div class="grid lg:grid-cols-2 gap-10">
            <div class="img-section rounded-lg overflow-hidden">
                <img src="./../../assets/images/132083.jpg" class="h-full w-full" />
            </div>
            <div class="contact-form rounded-lg shadow-md bg-white p-5">
                <h6 class="text-2xl leading-none font-bold">Get In Touch</h6>

                <form class="space-y-3 mt-6">
                    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                        <mat-label>First Name</mat-label>
                        <input matInput class="!font-semibold" placeholder="ex. James bones">
                    </mat-form-field>
                    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                        <mat-label>Email</mat-label>
                        <input matInput class="!font-semibold" placeholder="ex. jamesbon@gamil.com">
                    </mat-form-field>
                    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                        <mat-label>Subject</mat-label>
                        <input matInput class="!font-semibold" placeholder="ex. Selling product">
                    </mat-form-field>
                    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                        <mat-label>Message</mat-label>
                        <textarea matInput class="!font-semibold" rows="5" placeholder="ex. Description"></textarea>
                    </mat-form-field>
                    <button class="font-semibold bg-black text-white border border-solid border-black px-5 py-2 rounded-full text-sm flex items-center gap-2 hover:text-black hover:bg-transparent transition-all ease-in-out duration-300">
                        Submit Now
                        <i class="fa-regular fa-arrow-right-long"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>