<footer class="bg-gray-100 pt-16 pb-6">
    <div class="container mx-auto px-5">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-10">
            <div class="company-profile col-span-2">
                <a routerLink="/" class="text-4xl font-bold text-black block mb-4">Online Mart</a>
                <p class="text-gray-600 mb-4 text-sm leading-relaxed">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur voluptatem labore iste cum assumenda.
                </p>

                <div class="flex gap-3 mb-5">
                    <div class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-200 hover:bg-black hover:text-white cursor-pointer transition-all ease-in-out duration-300">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-200 hover:bg-black hover:text-white cursor-pointer transition-all ease-in-out duration-300">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-200 hover:bg-black hover:text-white cursor-pointer transition-all ease-in-out duration-300">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-200 hover:bg-black hover:text-white cursor-pointer transition-all ease-in-out duration-300">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
                <button routerLink="/contact" class="border-2 border-black px-6 py-2 rounded-full text-sm font-semibold flex items-center gap-2 hover:bg-black hover:text-white transition-all ease-in-out duration-300">
                    Contact With Us 
                    <i class="fa-regular fa-arrow-right-long"></i>
                </button>
            </div>

            <div class="useful-link">
                <h3 class="font-semibold mb-4">Useful Links</h3>
                <ul class="space-y-2 text-gray-600 text-sm">
                    <li routerLink="/about" class="cursor-pointer">About Us</li>
                    <li class="cursor-pointer">My Account</li>
                    <li class="cursor-pointer">My Orders</li>
                    <li class="cursor-pointer">Redeem Code</li>
                    <li class="cursor-pointer">Mega Offer</li>
                    <li class="cursor-pointer">Featured Products</li>
                </ul>
            </div>

            <div class="useful-link">
                <h3 class="font-semibold mb-4">Information</h3>
                <ul class="space-y-2 text-gray-600 text-sm">
                    <li routerLink="/privacy-policy" class="cursor-pointer">Privacy Policy</li>
                    <li routerLink="/return-policy" class="cursor-pointer">Return Policy</li>
                    <li class="cursor-pointer">Shipping & Return</li>
                    <li routerLink="/terms-condition" class="cursor-pointer">Terms & Conditions</li>
                    <li class="cursor-pointer">Cash Back Guarantee</li>
                </ul>
            </div>

            <div class="company-contact col-span-2">
                <h3 class="font-semibold mb-4">Get Contact</h3>

                <div class="text-sm text-gray-600 mb-2">
                    Phone:
                    <a href="tel:+14065550120">
                        (406) 555-0120
                    </a>
                </div>
                <div class="text-sm text-gray-600 mb-4">
                    E-mail: 
                    <a href="mailto:admin@example.com">admin&#64;example.com</a>
                </div>

                <h4 class="font-medium mb-2">Newsletter</h4>
                <p class="text-sm text-gray-500 mb-4">
                    1000+ Our Users are subscribe Around the World.
                </p>

                <div class="relative mb-4">
                    <input type="text" placeholder="Enter Email" class="w-full border-b border-gray-300 bg-transparent py-2 pr-10 focus:outline-none focus:border-indigo-500">
                    <i class="fa-regular fa-envelope absolute right-2 top-2.5 text-gray-400"></i>
                </div>

                <button class="font-semibold bg-black text-white border border-solid border-black px-5 py-2 rounded-full text-sm flex items-center gap-2 hover:text-black hover:bg-transparent transition-all ease-in-out duration-300">
                    Submit Now
                    <i class="fa-regular fa-arrow-right-long"></i>
                </button>
            </div>

        </div>

        <!-- Copyright Section -->
        <div class="border-t mt-5 lg:mt-10 pt-6 flex flex-col lg:flex-row justify-between items-center text-sm text-gray-500">
            <p>Copyright © 2025 CK Online Mart. All Rights Reserved</p>
            <div class="flex flex-wrap gap-2 sm:gap-4 mt-3 lg:mt-0">
                <span routerLink="/terms-condition" class="cursor-pointer shrink-0">Terms of service</span>
                <span class="hidden sm:block">|</span>
                <span routerLink="privacy-policy" class="cursor-pointer shrink-0">Privacy policy</span>
                <span class="hidden sm:block">|</span>
                <span routerLink="/register" class="cursor-pointer shrink-0">Login & Register</span>
            </div>
        </div>

    </div>
</footer>