/* You can add global styles to this file, and also import other style files */

// Common CSS
@import './assets/scss/common.scss';
@import 'swiper/css';
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/pagination';

// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: rgba(22, 163, 74, 0.3);
}
::-webkit-scrollbar-thumb {
    background: #16a34a;
    border-radius: 4px;
}
