<app-home-banner></app-home-banner>
<app-product-category></app-product-category>
<!-- Product Highlight Section -->
 <div class="product-highlight">
    <div class="container mx-auto px-5">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
            <div class="product-box rounded-lg overflow-hidden relative hover:-translate-y-2 transition-all ease-in-out duration-500">
                <img src="./../../assets/images/banner-1.png" />
                <div class="absolute left-10 top-1/2 -translate-y-1/2 max-w-60">
                    <h6 class="text-lg font-bold">Everyday Fresh & Clean with Our Products </h6>
                    <button class="px-5 py-2 bg-black text-white mt-2 border border-black hover:text-black hover:bg-transparent transition-all duration-500 ease-in-out">Shop Now</button>
                </div>
            </div>
            <div class="product-box rounded-lg overflow-hidden relative hover:-translate-y-2 transition-all ease-in-out duration-500">
                <img src="./../../assets/images/banner-2.png" />
                <div class="absolute left-10 top-1/2 -translate-y-1/2 max-w-60">
                    <h6 class="text-lg font-bold">Everyday Fresh & Clean with Our Products </h6>
                    <button class="px-5 py-2 bg-black text-white mt-2 border border-black hover:text-black hover:bg-transparent transition-all duration-500 ease-in-out">Shop Now</button>
                </div>
            </div>
            <div class="product-box rounded-lg overflow-hidden relative hover:-translate-y-2 transition-all ease-in-out duration-500 md:col-span-2 lg:col-span-1">
                <img src="./../../assets/images/banner-3.png" />
                <div class="absolute left-10 top-1/2 -translate-y-1/2 max-w-60">
                    <h6 class="text-lg font-bold">Everyday Fresh & Clean with Our Products </h6>
                    <button class="px-5 py-2 bg-black text-white mt-2 border border-black hover:text-black hover:bg-transparent transition-all duration-500 ease-in-out">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
 </div>
<app-shop></app-shop>
<!-- Newsletter Section -->
<div class="newsletter-section">
    <div class="container mx-auto px-5">
        <div class="newsletter-card bg-[url('/assets/images/banner-10.png')] bg-cover bg-center p-10">

        </div>
    </div>
</div>